@font-face {
    //Verdana
    font-family: 'Verdana';
    src: url(../font/Verdana.ttf);
}

@font-face {
    //Roboto Condensed Regular
    font-family: "Roboto Condensed", sans-serif;
    src: url(../font/Roboto-Condensed-Regular.ttf);
}

@font-face {
    //Comfirtaa Bold
    font-family: "Comfortaa", cursive;
    src: url(../font/Comfortaa-Bold.ttf);
}

$mainColor1: rgba(0, 0, 0, 0.85);
$mainColor2: #333333;
$black1: rgba(0, 0, 0, 0.25);
$white1: rgba(255, 255, 255, 0.25);
$white2: #e5e5e5;
$white3: #c4c4c4;
$white4: #fff;
$red: #B22222;
$green: #32CD32;
$headerHeight: calc($rowMenuHeight*2);
$footerHeight: 65px;
$rowMenuHeight: 45px;
$rowCardHeight: 65px;

$gapSize: 8px;

@mixin upper-shadow($color) {
    box-shadow: inset 0 4px 4px 0 $color;
}

@mixin lower-shadow($color) {
    box-shadow: inset 0 -4px 4px 0 $color;
}

@mixin collumn-shadow ($color) {
    box-shadow: inset -4px 0 4px 0 $color, inset 4px 0 4px 0 $color;
}

@mixin row-shadow($color) {
    box-shadow: inset 0 -4px 4px 0 $color, inset 0 4px 4px 0 $color;
}

@keyframes dbclick {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0.97);
    }
}

@keyframes sliderBtn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

@keyframes sliderClose {
    from {
        opacity: 0.5;
        transform: scale(1);
    }

    to {
        opacity: 1;
        transform: scale(1.2);
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $white2;
}

button {
    background-color: transparent;
    border: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

label {
    cursor: pointer;
}

select {
    background-color: transparent;
    outline: none;
    border: none;
}

textarea {
    border: none;
    outline: none;
    padding: $gapSize;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}

.router-link-active {
    color: $white3  !important;
}


#app {
    height: 100vh;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr;
    row-gap: $gapSize;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 $gapSize;
}

.block {
    display: none;
}

.db {

    cursor: pointer;

    &:hover {
        animation: {
            name: dbclick;
            duration: 0.5s;
            delay: 0.5s;
            iteration-count: 2;
        }
    }

}

//win-act
.win-act {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    margin-right: $gapSize;

    &:hover {
        cursor: pointer;
    }
}

.inp {

    //inp-check
    &-check {
        display: none;
    }

    //inp--hide
    &--hide {
        display: none;
    }
}

//lbl
.lbl {

    font: {
        family: "Verdana";
        variant: small-caps;
        weight: 600;
        size: 1.1em;
    }

    &_black {
        color: $mainColor2;

        &:hover {
            cursor: pointer;
            color: #000;
        }
    }

}

//btn
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font: {
        size: 1.05em;
        weight: 500;
        variant: small-caps;
        family: 'Verdana'
    }

    &:hover {
        cursor: pointer;
    }

    &_stn {
        min-width: 150px;
    }
}

//header
.header {
    grid-area: header;
    background-color: $mainColor2;

    &__row {
        min-height: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        min-height: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__auth {
        font: {
            family: 'Verdana';
            size: 1.1em;
        }

        color: $white2;

        &:hover {
            color: $white3;
            cursor: pointer;
        }
    }

    &__menu-link {
        font: {
            weight: 700;
            family: 'Verdana';
            size: 1.2em;
        }

        color: $white2;

        &:hover {
            color: $white3;
        }
    }
}

//auth
.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $black1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    //auth__item
    &__item {
        min-width: 250px;
        min-height: 30px;
        border: 2px solid black;
        border-radius: 3px;
        text-align: center;
        background-color: aliceblue;
    }

    //auth__btn
    &__btn {
        margin: 22px 0 0 0;

        font: {
            family: "Verdana";
            size: 1.1em;
            weight: 600;
        }

        &:hover {
            background-color: $black1;
            color: aliceblue;
            border-color: aliceblue;
        }
    }
}

//logo
.logo {
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
        width: 40px;
        height: 40px;
    }
}

.main-container {
    width: 100%;
    // position: relative;
    z-index: 1;
    grid-area: main;
    display: grid;
    grid-template-areas:
        'menu'
        'content';
    grid-template-rows: max-content 1fr;
    overflow-y: auto;
    row-gap: $gapSize;
}

.footer {
    grid-area: footer;
    background-color: $mainColor2;

    // 
    width: 100%;
    height: 60px;
}

//row
.row {
    border-radius: 3px;
    @include row-shadow($black1);
    padding: 0 $gapSize;

    &_black {
        background-color: $mainColor2;
        color: $white2;
    }

    &_white {
        background-color: #fff;
    }
}

//card
.card {

    //card-row
    &-row {
        height: $rowCardHeight;
        display: flex;
        margin-bottom: $gapSize;


        &__list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            max-width: 45%;
            max-height: 90px;
            overflow: hidden;
        }

        &_interactive {
            &:hover {
                cursor: pointer;
                background-color: $mainColor2;
                color: #fff;
            }
        }
    }
}

// usr
.usr {

    // usr-row
    &-row {
        justify-content: space-between;

        &__contact {
            align-items: flex-end;
        }


    }
}

//content-menu
.content-menu {
    min-height: $rowMenuHeight;
    grid-area: menu;
    display: flex;
    align-items: center;
    padding: 0 $gapSize;


    &__btn {
        font: {
            family: 'Verdana';
            size: 1.1em;
        }

        color: $white2;

        &:hover {
            color: $white3;
            cursor: pointer;
        }
    }

    // 
    background-color: $mainColor2;
}

//menu
.menu {
    justify-content: space-around;

    //menu-row
    &-row {
        min-height: $rowMenuHeight;
        width: 100%;
        display: flex;
    }

    &_2b {
        justify-content: space-between;
    }
}



//content
.content {
    grid-area: content;
    overflow-y: auto;
}

//profile
.profile {
    position: relative;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__info {
        display: flex;
        padding-bottom: $gapSize;

        &-ava {
            width: 200px;
            height: 200px;
            border: 2px solid $mainColor2;
            border-radius: 3px;
        }

        &-btn {
            width: 200px;
            height: $rowMenuHeight;
            margin-top: $gapSize;
        }

        &-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 $gapSize;
        }

        &-title {
            margin-bottom: $rowMenuHeight;
        }

        &-row {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            min-height: $rowMenuHeight;
        }

        &-msg {
            margin-left: auto;
        }
    }

    &__note {
        min-height: 50%;
        padding: $gapSize;
    }
}

//loader
.loader {
    position: relative;

    //loader-wraper
    &-wraper {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $black1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img {
        max-width: 400px;
        max-height: 400px;
        user-select: none;
    }

    &__img-area {
        position: absolute;
        z-index: 6;
        background-color: $black1;
        cursor: move;
        width: 200px;
        height: 200px;
    }

    &__btn {
        margin-top: 8px;
        height: $rowMenuHeight;
    }

    &__corner {
        position: absolute;
        z-index: 5;
        width: 8%;
        height: 8%;
        background-color: #B22222;

        &:hover {
            cursor: nwse-resize;
        }
    }
}

//filter
.filter {
    min-width: 280px;
    align-items: baseline;
    position: relative;
    padding: 0 $gapSize;


    &-condition {
        display: flex;
        align-items: center;
        margin-left: $gapSize;


        &__select {
            text-align: center;
            background-color: $mainColor2;

            &:hover {
                cursor: pointer;
            }

        }

    }

    //filter-btn
    &-btn {
        min-width: 100px;
        text-align: center;
    }

    &__menu {
        height: $rowMenuHeight;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    //filter-list
    &-list {
        width: 100%;
        position: absolute;
        z-index: 7;
        text-align: center;
        padding-top: $gapSize;
        border-radius: 0 0 3px 3px;
        background-color: $mainColor2;
    }

}

//slider
.slider {
    &-btn {
        position: absolute;
        z-index: 7;
        width: 45px;
        height: 45px;
        top: 50%;
        opacity: 0.5;

        &:hover {
            animation: {
                name: sliderBtn;
                duration: 0.5s;
                fill-mode: forwards;
            }

            cursor: pointer;
        }

        &__close {
            border-radius: 50%;

            background: {
                image: url("/img/btn/close.svg");
                size: cover;
                position: center;
            }

            &:hover {
                animation: {
                    name: sliderClose;
                    duration: 0.5s;
                    fill-mode: forwards;
                }
            }
        }

        &_central {
            left: 50%
        }

        &_left {
            left: 0;
            transform: rotate(180deg);
        }

        &_right {
            right: 0;
        }
    }
}

//todo
.todo {
    position: relative;
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__section {
        width: 100%;
        text-align: center;

        &-sub-ttl {
            display: inline-block;
            margin-bottom: $gapSize;
        }
    }

    &__text-wraper {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: auto;
    }

    &__title {
        width: 100%;
        min-height: $rowMenuHeight;
    }

    &__comment {
        height: 250px;
        width: 100%;
    }

    &__btn {
        height: $rowMenuHeight;
        width: 150px;
    }

    &__check {
        margin: $gapSize auto 0;
    }


}

//task
.task {
    &-row {
        min-height: $rowCardHeight;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $gapSize;
    }
}

//editor
.editor {
    position: relative;
    z-index: 6;
    grid-area: content;
    display: grid;
    grid-template-areas:
        'side-bar task-row'
        'side-bar creator'
        'side-bar options'
    ;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 300px 1fr;
    column-gap: $gapSize;

    //editor-tsk
    &-tsk {
        grid-area: task-row / creator / options;
        z-index: 7;
        background-color: $white2;
    }

    &__task-row {
        grid-area: task-row;
    }

    &__creator {
        grid-area: creator;
    }

    &__options {
        grid-area: options;
    }

    &__side-bar {
        grid-area: side-bar;
    }

    //editor-list
    &-list {
        @include collumn-shadow($black1);
        padding: $gapSize;
        background-color: $white2;
    }
}

//creator
.creator {
    &__filter {
        margin: $gapSize 0;
    }
}

//list
.list {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    overflow-y: auto;
    scrollbar-width: 0;

    &::-webkit-scrollbar {
        width: 0;
    }

    //list__title
    &__title {
        width: 100%;
        position: sticky;
        top: 0;
        background-color: $white2;
    }

    //list__item
    &__item {
        width: 100%;
        margin-top: $gapSize;
        font-size: 14px;

        &:hover {
            cursor: pointer;
            background-color: $mainColor2;
            color: $white2;
        }

        //iist__item--active 
        &--active {
            background-color: $mainColor2;
            color: $white2;
        }

        //list__item--bh
        &--bh {
            &hover {
                background-color: $mainColor1;
                color: $white2;
            }
        }

    }

}


//text
.text {
    font: {
        family: "Roboto Condensed", sans-serif;
        weight: 400;
    }

    &__content {
        font: {
            size: 1.1em
        }
    }

    &__title {
        font: {
            size: 1.2em;
            weight: 600;
        }
    }

    &_white {
        color: $white2;
    }

    &_red {
        color: $red;
    }

    &_green {
        color: $green;
    }


    &_defining {
        color: #000;

        font: {
            weight: 600;
            variant: small-caps;
        }
    }


}


@media (max-width: 640px) {

    .header {
        &__menu {
            flex-wrap: wrap;
            justify-content: space-around;

            & :nth-last-child(1) {
                width: 100%;
                text-align: center;
            }

            &-link {
                font-size: 1.1em;
                font-weight: 500;
            }
        }

        &__auth {
            font-size: 1em;
        }
    }

    .content-menu {
        flex-wrap: wrap;
    }

    .filter {
        padding: 0;
        width: 100%;
        justify-content: center;

        &-condition {
            margin: 0;
        }
    }

    .profile {
        &__info {
            flex-direction: column;

            & li {
                margin-top: $gapSize;
            }

            &-list {
                padding: 0;
            }

            &-msg {
                margin: 0;
            }
        }

        &__note {
            min-height: 50%;
            margin-top: $gapSize;
        }
    }

    .editor {
        grid-template-areas:
            'task-row'
            'creator'
            'options'
            'side-bar'
        ;
        gap: $gapSize;
        grid-template-rows: auto auto auto 500px;
        grid-template-columns: 1fr;
    }

    .logo {
        min-width: unset;
    }

    .text {
        &__content {
            font-size: 1em;
        }

        &__title {
            font-size: 1em;
        }

        &_defining {
            font-weight: 500;
        }
    }
}